﻿doctype html
html.grey
  head
    link(href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='stylesheets/uikit.min.css')
    link(rel='stylesheet', href='stylesheets/notify.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title
  body.home
    .overall.wrapper
      
      nav.uk-navbar
         a.uk-navbar-toggle.uk-visible-small(href="#nav" data-uk-offcanvas="{mode:'slide'}")
         div.uk-navbar-flip
            ul.uk-navbar-nav
                   li
                     a(href='/')
                       i.uk-icon-sign-out.uk-icon-button.greyText
          ul.uk-navbar-nav.uk-hidden-small
            li.uk-active
              //a.uk-navbar-nav-subtitle(href="#nav" data-uk-offcanvas="{mode:'slide'}")(style="font-weight: 900;") Operatore Remoto
                      div(style="font-weight: 500;") Deposito Novate
              div.uk-navbar-nav-subtitle(style="font-weight: 900;padding-left: 20px;") #{username}
                 div(style="font-weight: 500;font-style: italic;") Deposito ***
            
          div.uk-navbar-content.uk-navbar-center.uk-text-primary(style="font-weight: 900;") SMART ASSISTANCE
         
    // OffCanvas Navigation
    #nav.uk-offcanvas
      .uk-offcanvas-bar
     
        ul.uk-nav.uk-nav-offcanvas
          li.nav-header
            div.profile-element
              .uk-grid
                .uk-width-medium-1-3
                  span
                    img.img-circle(src='images/user-icon.png')
                .uk-width-medium-2-3(style="padding-left:0px;")
                  span.block.m-t-xs.uk-text-top.uk-navbar-nav-subtitle(style="font-weight: 900;")
                    | Operatore Assistente
                    div.uk-text-muted(style="padding-left: 15px;padding-top:8px;font-weight: 700;font-style: italic;")
                      | Flotta 1 | Flotta 2 | Flotta 3
                div.uk-text-muted(style="padding-left: 100px;")
                      a.uk-text-muted.uk-text-primary(href='/login') Log Out
          li
            p(style="font-weight: 900;padding-left: 15px;") Ultime Chiamate
            h5.uk-text-muted(style="padding-left: 15px;") Oggi
          //li
            a.greyText(href='/home') Home
          //li
            a.greyText(href='/') Camera View 
  
  #tel.uk-modal
    .uk-modal-dialog(style="height: 400px;")
      
        .uk-modal-header(style="color:white;")
          .uk-icon-phone(style="margin-right: 10px;")
          |               CHIAMATA IN ARRIVO
          p(style="margin-top: 0px;padding-left: 26px;color:#7AC943;")
            | HOLOLENS
        h2(style="color:white;font-weight: 600;margin-top: 20px;margin-bottom: 5px;")
          |  Operatore Remoto
        p(style="color:white;margin-top: 0px;font-style: italic;")
            |  Deposito A
        .uk-modal-footer.uk-text-right
      
          a(title="rifiuta", onclick="startCall()").js-modal-confirm-cancel.menu-call.uk-modal-close
             img(src='images/phoneOff.png')(style="transform:scale(0.6);")
 
            
        a.call(href='/logged')(style="position:absolute; left:45%; margin-left:-52.5px; margin-top: -30px;")
    
    script(src='javascripts/jsmpg.js')
    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/uikit.min.js')
    script(src='javascripts/notify.min.js')
    script(type='text/javascript').
      //$(document).ready(function() {
      //$.UIkit.modal('#tel').show();
      //});


      //$('.call').on('click', function(){
        //alert ('Risposta');
        //window.location = (href='/');
      //});

      function startCall(){
        $.get("home/waitForCall", function(string) {
           $.UIkit.modal('#tel').show();
        });
      }

      $(document).ready(function() {
        startCall();
      });