﻿doctype html
html.grey
  head
    link(href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='stylesheets/uikit.min.css')
    link(rel='stylesheet', href='stylesheets/notify.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body.home.uk-vertical-align-middle
    .overall.wrapper.uk-height-1-1
      .uk-grid.uk-height-1-1.uk-container-center(style="margin-top: 10%;")
        div.uk-width-medium-3-4.uk-width-small-4-5.uk-container-center
           .uk-grid.uk-margin-top.uk-height-1-1.uk-grid-divider
             div.uk-width-medium-1-2.uk-width-small-1-2.uk-vertical-align
               div.uk-vertical-align-middle
                 div.uk-text-top(style="margin-bottom: 100px;")
                   p.uk-text-large(style="font-size: 35px;font-weight: 300;")
                     |	Benvenuto
                     h1.uk-text-bold.uk-text-primary(style="margin-bottom: 10px;font-size: 35px;margin-top: 20px;font-weight: 900;")
                       | SMART ASSISTANCE
                     p.uk-text-large.uk-float-right(style="margin-top: 12px;font-size: 18px;font-weight: 300;")
                       | Alpha 1.0
                 div.uk-vertical-align-bottom
                   h5.uk-text-bottom(style="font-size: 10px;display:inline-block;")
                     | Powered by
                     img(src='images/joinpad.png').joinpad()
             div.uk-width-medium-1-2.uk-width-small-1-2.uk-vertical-align
               div.uk-vertical-align-middle.uk-width-medium-1-1
                 h1.uk-text-bold.uk-text-large(style="font-size: 35px;")
                   |	Log in 
                 div.uk-vertical-align.uk-height-1-1
                   form.uk-form.uk-form-stacked
                    

                       h3 
                         div.uk-form-row
                           label.uk-form-label(for="operatoreAssistente") Username
                           div.uk-form-controls
                             input#operatoreAssistente.uk-width-1-1.uk-form-large(type="text" placeholder="Operatore Assistente" style="font-style: italic;")
                       h3
                         div.uk-form-row
                           label.uk-form-label(for="password") Password
                           div.uk-form-controls.uk-form-password
                             input#password.uk-width-1-1.uk-form-large(type="password" placeholder="*******")
                         div.uk-form-row
                           a.uk-width-1-1.uk-button.uk-button-danger.uk-button-large(style="font-weight: 800;")#login LOGIN
                         div.uk-form-row.uk-text-small
                         label.uk-float-left



    script(src='javascripts/jsmpg.js')
    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/uikit.min.js')
    script(src='javascripts/notify.min.js')
    script(type='text/javascript').

      $("input").keypress(function (e) {
        if (e.which == 13) {
          login();
        }
      });

      function login(){
        var insertedElements = 0;
        $("input").each(function() {
           if($(this).val() == "")
              $(this).addClass("uk-form-danger");
           else
           {
              $(this).removeClass("uk-form-danger");
              insertedElements++;
           }
        });
        //alert ('Risposta');
        if (insertedElements == 2){
           //$.get("/userName" , {username : $("#operatoreAssistente").val()})
           //.done(function(string) {
              //console.log(string);
           //});
           //window.location = (href='/home');
           $.post("/login" , {username : $("#operatoreAssistente").val(), password : $("#password").val()})
           .done(function(string) {
              console.log(string);
              if (string)
                 window.location = (href='/home');
              else
              {
                 $("input").each(function() {
                    $(this).addClass("uk-form-danger");
                 });
              }
           });
           
        }
      }

      $('#login').on('click', function(){
        login();
      });