﻿doctype html
html.grey
  head
    link(href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='stylesheets/uikit.min.css')
    link(rel='stylesheet', href='stylesheets/notify.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title
  body
    // Overall Wrapper
    .overall.wrapper


      div#upload-drop.uk-placeholder
          | Info
          a.uk-form-file
            | Select
            input#upload-select(type="file")
      div#progressbar.uk-progress.uk-hidden
          div.uk-progress-bar(style="width:0%;")


    script(src='javascripts/jsmpg.js')
    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/uikit.min.js')
    script(src='javascripts/notify.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

    script(type='text/javascript').
      // Set visibility


    
      //upload file

      var progressbar = $('#progressbar'),
      bar = progressbar.find('.uk-progress-bar'),
      settings = {
      action: '/',
      allow : '*.(jpg|jpeg|gif|png)',
      loadstart: function() {
                bar.css("width", "0%").text("0%");
                progressbar.removeClass("uk-hidden");
      },
      progress: function(percent) {
                percent = Math.ceil(percent);
                bar.css("width", percent+"%").text(percent+"%");
      },
      allcomplete: function(response) {

                bar.css("width", "100%").text("100%");

                setTimeout(function(){
                    progressbar.addClass("uk-hidden");
                }, 250);

                alert("Upload Completed")
      }
 
      var select = UIkit.uploadSelect($("#upload-select"), settings),
      drop   = UIkit.uploadDrop($("#upload-drop"), settings);